[Unit]
Description=resetOled

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/home/pi/rpi-oled/splash.py
ExecStop=/home/pi/little-backup-box/scripts/reset-oled.sh

[Install]
WantedBy=multi-user.target
